.booking-modal-container {
    .booking-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .booking-modal-header {
            padding: 10px;
            border: 1px solid red;

            .left {
                font-size: 15px;
                font-weight: 600;
                color: #333 ;
            }

            .right {
                float: right;
            }
        }

        .booking-modal-body{ 
            padding: 15px;
            height: 100%;
            border: 1px solid blue;
        }

        .bookinng-modal-footer {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            padding: 10px;
            border: 1px solid green;

            button {
                border: none;
                outline: none;
                padding: 5px 8px;
                border-radius: 3px;
                min-width: 100px;
            }

            .confirm {
                background-color: orange;
            }

            .cancel {
                background-color: grey;
            }
        }
    }
}